html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
	background-color: #B280E6;
}
body {
	max-width: 700px;
	margin: 0 auto;
}
h1 {
	width: 270px;
	border-radius: 5px;
	background-color: #6B008F;
	display: block;
	padding: 4px 6px 4px 6px;
	margin: 35px 0 5px -30px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 74px;
	text-align: left;
	-webkit-transform: rotate(-7deg); 
    -moz-transform: rotate(-7deg);
}
button {
	float: right;
}
.mainLogo{
	color: #F7F2FC;
	text-decoration: none;
}
.tweetWrap {
	background-color: rgba(255, 255, 255, .85);
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 6px;
}
#nav {
	width: 98%;
	height: 18px;
}
ul {
	background-size: cover;
}
li {
	list-style-type: none;
	margin: 0 auto;
	width: 685px;
	font-size: 22px;
	line-height: 110%;
}
div .tweetWrap {
	margin: 0 auto;
}
.timestamp{
	display: inline-block;
    width: 98%;
  	text-align: right;
  	margin-right: 25px;
  	font-size: 10px;
  	color: #999999;
}
#logo {
	width: 180px;
	border-radius: 5px;
	background-color: #6B008F;
	color: #F7F2FC;
	display: block;
	padding: 4px 6px 4px 6px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 50px;
	text-align: left;
}
.user {
	color: #6B008F;
	text-decoration: none;
}
.user:hover{
	text-decoration: underline;
}
@media (max-width: 800px){
	body {
		width: 100%;
	}
	h1 {
		width: 180px;
		font-size: 50px;
		margin: 10px 0 -15px 2%;
		-webkit-transform: rotate(0deg); 
    	-moz-transform: rotate(0deg);
	}
	li {
		width: 98%;
	}
	#logo {
	width: 100px;
	border-radius: 5px;
	background-color: #6B008F;
	color: #F7F2FC;
	display: block;
	padding: 4px 6px 4px 6px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 28px;
	text-align: left;
}
}
